# Database
POSTGRES_DB: flotilla
POSTGRES_USER: flotilla
POSTGRES_PASSWORD: changeme # openssl rand -base64 32

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Agent
API_KEY= # Create in Settings=>Agent API Keys
AGENT_NAME=MY_AGENT
# Metric Support
INFLUXDB_ENABLED=true
TLS_ENABLED=true
TLS_CERT_FILE=/var/lib/flotilla/tls/cert.pem
TLS_KEY_FILE=/var/lib/flotilla/tls/key.pem
TLS_SUBJECT=/CN=flotilla.local
TLS_DAYS=825

# Metrics / Influx
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=secure-password-here # openssl rand -base64 32
DOCKER_INFLUXDB_INIT_ORG=flotilla
DOCKER_INFLUXDB_INIT_BUCKET=metrics
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=secure-token-here # openssl rand -base64 32
