name: Snapshot Binaries

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  GO_VERSION: "1.24.x"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true

      - name: Package Binaries
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            VERSION="pr-${GITHUB_HEAD_REF}-${GITHUB_SHA::7}" make package-binaries
          else
            VERSION="sha-${GITHUB_SHA::7}" make package-binaries
          fi

      - name: Upload Snapshot Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: flotilla-snapshot-${{ github.ref_type == 'branch' && github.ref != 'refs/heads/main' && format('pr-{0}-{1}', github.head_ref, github.sha) || format('sha-{0}', github.sha) }}
          path: dist/release/**
