name: Docker Images

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  packages: write
  contents: read

env:
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Snapshot Images
        env:
          PUBLISH: "true"
          EDGE_TAG: "true"
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            VERSION="pr-${GITHUB_HEAD_REF}-${GITHUB_SHA::7}"
            export PUSH_IMAGES="false"
          else
            VERSION="sha-${GITHUB_SHA::7}"
            export PUSH_IMAGES="true"
          fi
          PLATFORMS="${PLATFORMS}" \
          VERSION="${VERSION}" \
          make docker-release
